body, html{
/*  height:100%;*/

}
body{
  margin: 0px;
  background-image: url("http://static.politico.com/2d/e8/1076edab470f9707a8f87ae11614/emptydebatestage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
/*  max-height: 100%;
  max-width: 648px;*/
}

body, a:link, a:visited, a:active{
  color: lightblue;

}
.title{
  padding:5px 12px;
  float:right;
}

.text-muted {
  text-align:center;
  font-size: 70px;
  color: white;
  animation-name: swing;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
/*.dancer{
  border-radius:10px;
  position:absolute;
}*/

.catDancer{
  position: relative;
  animation-name: wobble;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.snoopDancer{
  border-radius:200px;
  position:relative;
  animation-name: tada;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.putinDancer{
  position: relative
}

.lineUp {
  display: block;
  top: 0;
/*  right: 50%;*/
}

 /*animation classes */

.bounceClass {
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.audio{
  display: table;
  width:100%;
}

.holder {

  text-align: center;
  display:table-cell;
  vertical-align: middle;
}
#a1 {
  padding-top: 60px;
  align-content: center;
}


.dropdown:hover .dropdown-menu {
  display: block;
}
/* nav bar */
/**/

