body, html{
  height:100%;

}
body{
  margin: 0px;
  background-image: url("http://i52.tinypic.com/23s7tl0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  padding:5px 12px;
  float:right;
}

.text-muted {
  text-align:center;
  font-size: 70px;
  color: white;
  animation-name: swing;
  animation-duration: 12s;}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
/*.dancer{
  border-radius:10px;
  position:absolute;
}*/

.catDancer{
  position: relative;
  animation-name: wobble;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.snoopDancer{
  border:10px solid red;
  border-radius:10px;
  position:relative;
}

.putinDancer{
  position: relative
}

.lineUp {
  display: block;
  top: 0;
/*  right: 50%;*/
}

 /*animation classes */

.bounceClass {
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* classes for lining up dancers */
/**/